* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fbfbf2;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size:30px;
}

.listOfPanels{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.new-strip-panel {
  margin-top: 20px;
  text-align: center;
}

.new-strip-panel-button {
  font-size: 1.5em;
  padding: 5px;

}

.strip-images, #strip-images {
  padding: 15px;
  width: 250px;
}

.strip-panel-img {
  margin: 20px;
  border: 1px solid black;
  border-radius: 2px;
  height: 350px;

}

.strip-description {
  padding-left: 14px;

}

.strip-button, .save-panel-button, .cancel-panel-button {
    height: 25px;
    border-radius: 2px;
    background-color: white;
    font-size: 12px;
    border: 1px solid black;
}

.save-panel-button, .cancel-panel-button {
  width: 85px;
  margin-right: 10px;
}

.strip-button {
  margin-left: 12px;
  width: 70px;
}

.image-upload {
    width: 150px;
    height: 85px;
    border: 2px gray dashed;
    margin-bottom: 20px;
    text-align: center;
}

.image-upload p {
  font-size: 14px;
}

.comic-text-box {
    border: 1px black solid;
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px;
}

.filter-button {
  margin-top: 10px;
}

.text-box {
	width: 400px;
	height: auto;
}

.panel-container {
	display: flex;
  justify-content:center;
	flex-direction: column;
	width: 500px;
	height: 626px;
  margin-left: -250px;
  margin-top: -313px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px gray solid;
  transition: opacity 500ms ease;
  padding: 15px;
}

.save-cancel-button-container-panels {
  display: flex;
  padding-right: 10px;
}

.filter-button-container {
	display: inline-flex;
	flex-direction: row;
}

.filter-button {
	width: 80px;
	font-size: 13px;
   height: 21px;
}

img {
	width: 400px;
}


.Blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.Brightness {
    -webkit-filter: brightness(0.70);
    filter: brightness(0.70);
}

.Contrast {
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}

.Grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.Huerotate {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.Invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.Opacity {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.Saturate {
    -webkit-filter: saturate(7);
    filter: saturate(7);
}

.Sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.Shadow {
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray);
}
