* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Satisfy', cursive;
}
.listOfPanels{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}


.strip-images, #strip-images {
  padding: 15px;
  width: 250px;
}

.strip-panel-img {
  margin: 20px;
  border: 1px solid black;
  border-radius: 2px;
  height: 350px;

}

.strip-description {
  padding-left: 14px;

}

.strip-button {
    margin-left: 12px;
    width: 70px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
    font-size: 12px;
    border: 1px solid black;
}


.story-description {
    border: 1px black solid;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20p
}

.edit-button{
    width: 41px;
}


.placeholder {
  color: lightgray;
}

.text-box {
	width: 400px;
	height: auto;
}


.panel-container {
	display: inline-flex;
	flex-direction: column;
	width: 500px;
	height: 626px;
  margin-left: -250px;
  margin-top: -313px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px gray solid;
  transition: opacity 500ms ease;
  padding: 15px;
}

.button-container {
	display: inline-flex;
	flex-direction: row;
}

.filter-button {
	width: 80px;
	font-size: 13px;
   height: 21px;
}

img {
	width: 400px;
}

.save-panel-button, .cancel-panel-button {
  width: 100px;
}

.Blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.Brightness {
    -webkit-filter: brightness(0.70);
    filter: brightness(0.70);
}

.Contrast {
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}

.Grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.Huerotate {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.Invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.Opacity {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.Saturate {
    -webkit-filter: saturate(7);
    filter: saturate(7);
}

.Sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.Shadow {
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray);
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
